body {
    background-color: black;
    text-align: center;
    font-family: "Veranda", sans-serif;
    color: white;
}

.cta {
  color: aquamarine;
  font-size: 16px;
}

h1 {
    font-size: 50px;
    font-weight: normal;
  }
